<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Casa Inteligente</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/> 
  </head>

  <body>
    <div class="container ">
      <div class="top">
        <div class="top-button">
            <button id="check-button" class="button-style"></button>
        </div>
        <div class="top-header">
          <img src="../icons/smart-home.png" alt="smart-home" class="header-icon">
          <h2 id="room_name"></h2>
        </div>
      </div>

      <div class="middle clearfix">
          <section class="left column">
            <button id="left-button" class="button-style prevArrow"></button>
          </section>

          <section class="center column">
            <div class="container-center">
              <div class="title-center">
                <h3>
                  Devices
                </h3>
              </div>
              <div class="slider" id="slider">            
                <!--Habitations-->                  
              </div><!--slider-->
              <h3 id="no-devices"></h3>
            </div><!--container center-->
          </section><!--center column-->

          <section class="right column">
            <button id="right-button" class="button-style nextArrow"></button>
          </section>
      </div>
      
      <div class="bottom">
          <button id="return-button" class="button-style"></button>
      </div>

    </div>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <script type="text/javascript" src="../slick/slick.min.js"></script>
    <script type="text/javascript" src="../slider/carousel.js"></script>
    <script type="text/javascript" src="../device.js"></script>
  </body>

</html>
